OTHER_CFLAGS = $(inherited) -I/Users/jevin/code/frida/git/frida/build/frida-macos-arm64/include/frida-1.0 -I/Users/jevin/code/frida/git/frida/build/sdk-macos-arm64/include -I/Users/jevin/code/frida/git/frida/build/sdk-macos-arm64/include/glib-2.0 -I/Users/jevin/code/frida/git/frida/build/sdk-macos-arm64/lib/glib-2.0/include -I/Users/jevin/code/frida/git/frida/build/sdk-macos-arm64/include -I/Users/jevin/code/frida/git/frida/build/sdk-macos-arm64/include/capstone
OTHER_LDFLAGS = $(inherited) -L/Users/jevin/code/frida/git/frida/build/frida-macos-arm64/lib -L/Users/jevin/code/frida/git/frida/build/sdk-macos-arm64/lib -lfrida-gumpp-1.0 -lfrida-gum-heap-1.0 -lfrida-gum-prof-1.0 -lfrida-gum-1.0 -lgio-2.0 -lresolv -lgobject-2.0 -lffi -lgmodule-2.0 -lglib-2.0 -liconv -lm -lz -lcapstone
